nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #00ff9d;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #00ff9d;
  text-decoration: none;
}

.menu-toggle {
  display: none;
  color: #00ff9d;
  cursor: pointer;
}

/* mobile */
@media(max-width:768px){
  nav ul {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
    background: black;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #00ff9d;
  }

  nav ul.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
.post img{
  width:100%;
  height:300px;
  object-fit:cover;
  border-radius:10px;
}
